<section class="flex">
    <button type="button" class="alt-btn text-xl"><%= link_to "Add More Media", new_medium_path %></button>

    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="alt-btn text-xl" type="button">Edit Media</button>
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <% @media.each do |medium| %>
        <%= link_to edit_medium_path(medium), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
            ID: <%= medium.id %>
        <% end %>
        <% end %>
        </ul>
    </div>

    <button type="button" class="alt-btn text-xl"><%= link_to 'Sign out', destroy_gay_session_path, data: { turbo_method: :delete } %></button>
</section>