<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_title %></title>
    <meta name="description" content="<%= @meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {
        background-color: #445513;
        color: #aefdf7;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: large;
        align-items: center;
        border: 5px double #718537;
        margin: 10rem auto;
        width: fit-content;
        padding: 0.5rem;
    }
    h1 {
      font-weight: bold;
    }
    footer {
      position: relative;
      width: fit-content;
      top: 5rem;
      margin-left: auto;
      margin-right: auto;
      background-color: darkgoldenrod;
      padding: 0.5rem;
    }
    a {
      text-decoration: none;
      color: white;
    }
    p a:hover {
      background-color: black;
    }
    </style>
  </head>
  <body>
    <h1>Metrak API</h1>
    <p>This is the landing page to the API serving my personal media tracker (work in progress).</p>
    <p>You can find out more about it or just check the code on <a href="https://github.com/mickeymarse/metrak-api" target="_blank" >my repo</a>.</p>
    <footer>Created with <a href="https://www.mickeymarse.dev/" target="_blank" >🤓</a> and <a href="https://rubyonrails.org/" target="_blank" >🛤️</a>.</footer>
  </body>
</html>

