<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_title %></title>
    <meta name="description" content="<%= @meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {
        background-color: black;
        color: white;
    }
    </style>
  </head>
  <body>
    <h1>Metrak API</h1>
    <p>Mickey's personal media tracker.</p>
  </body>
</html>

