<h1>Metrak</h1>

<ul>
    <% @media.each do |medium| %>
        <li>
            <%= link_to medium.title, medium %>
        </li>
    <% end %>
</ul>

<%= link_to "Add More Media!", new_medium_path %>