<%= form_with model: [ @medium, @medium.thoughts.build ] do |form| %>
  <span>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </span>

  <section>
    <%= form.submit %>
  </section>

<% end %>